.table-container{
  max-height: 200px;
  overflow-y: auto;
  border: 2px solid red;
  margin: 20px 0;
}


.table{
    display: table;
    border-collapse: collapse;
    width: 50%;
}

.table-row{
    display: table-row;
    text-align: center;

}
.table-header{
   width: 40vmin; //vmin fr responsiveness
   
   position: sticky;
   top: 0;
   z-index: 2;
   background-color:blueviolet;
   color: white;
  

}

.table-cell{
    display: table-cell;
    border:2px solid olivedrab;
}

 .table-header{
    border-bottom: 2px solid red;
}